<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c = "http://www.springframework.org/schema/c"
       xmlns:context = "http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd"
       >


    <!--第三种注解方式-->
    <!--开启注解-->
    <!--<context:annotation-config></context:annotation-config>-->
    <!--开启扫描-->
    <!--<context:component-scan base-package="com"/>-->
    <!--<bean id="dao2" name="dao" class="com.ziroom.ioc.IndexDaoImpl1"></bean>-->


    <!--</bean>-->
    <!--<bean id="indexService" class="com.ziroom.ioc.IndexService" autowire="byType">-->
        <!--第一种 根据set方式注入,这里的name对应的IndexService 里面的setdao-->
        <!--<property name="dao" ref="dao1"></property>-->
        <!--第二种 根据构造函数的方式注入 加入xmlns:c的命名空间可以用c:dao-ref 注入-->
        <!--<constructor-arg ref="dao2"></constructor-arg>-->
    <!--</bean>-->
</beans>